#add_cat
{
  color: indianred;
  float:left;
  width: 50%;
  height: 300px;
}
#add_owner
{
  color: lavender;
  float: right;
  width: 50%;
  height: 300px;
}
#stats
{
  color: darkseagreen;
  float: right;
  width: 50%;
  height: 300px;
}
#search
{
  color: coral ;
  float: left;
  width: 50%;
  height: 300px;
}
/* label text style */
label{
    font-family: "Arial Black";
  }
/*background-color of the text box*/
form{
    background-color: forestgreen ;
  }

body
{
  background-color: mintcream;

}

p, h1, legend
{
  font-family: "Perpetua", Garamond, serif;
  color: MEDIUMAQUAMARINE;
}
h1
{
  text-align: center;
}

#cat
{
  background: url("https://media1.tenor.com/images/f901108c9a3e390bbf91ef8d75266f44/tenor.gif?itemid=5067891");
  height: 300px;
  width: 300px;
}
#owner
{
  background: url("http://images5.fanpop.com/image/photos/27800000/Pusheen-s-Christmas-to-do-list-pusheen-the-cat-27845019-250-313.gif");
  height: 300px;
  width: 300px;
}
#lookup
{
  background: url("https://media.giphy.com/media/lp6AghzxFL9aU/giphy.gif");
  height: 300px;
  width: 300px;
}
#stat
{
  background: url("https://media.tenor.com/images/ea862c2c1781bb4233ef774f8dfe7f19/tenor.gif");
  height: 300px;
  width: 300px;
}
input[type="submit"]
{
  color: teal;
  font-size: 40px;
  background-color: ROSYBROWN;
  font-family: "French Script MT";
  

}

