#add_cat
{
  color: indianred;
  float:left;
  width: 50%;
  height: 500px;
}
#add_owner
{
  color: lavender;
  float: right;
  width: 50%;
  height: 500px;
}
#stats
{
  color: darkseagreen;
  float: right;
  width: 50%;
  height: 500px;
}
#search
{
  color: coral ;
  float: left;
  width: 50%;
  height: 500px;
}
/* label text style */
label{
    font-family: "Arial Black";
  }
/*background-color of the text box*/
form{
    background-color: forestgreen ;
  }

body
{
  background-color: mintcream;

}

p, h1, legend
{
  font-family: "Perpetua", Garamond, serif;
  color: MEDIUMAQUAMARINE;
}
h1
{
  text-align: center;
}
img
{
  width: 100px;
  height: 100px;
}
#cat
{
  background: url("https://newvitruvian.com/explore/kitten-svg-transparent/#gal_post_4291_kitty-clipart-doodle-7.png");
  height: 300px;
  width: 300px;
}
#owner
{
  background: url("http://www.clipartroo.com/images/43/chuckle-clipart-43666.png");
  height: 300px;
  width: 300px;
}
#lookup
{
  background: url("https://s3.amazonaws.com/peoplepng/wp-content/uploads/2018/02/11111256/Black-Cat-PNG-Transparent-1024x1024.png");
  height: 300px;
  width: 300px;
}
#stat
{
  background: url("https://ddnewsherald.b-cdn.net/wp-content/uploads/2019/04/wp-content/uploads/2018/02/ascending-graph.png");
  height: 300px;
  width: 300px;
}
